<ion-navbar>
    <ion-title>
        <img src="../../assets/imgs/logo_alag.png" alt="">

    </ion-title>
    <ion-buttons end>
        <button (click)="presentPopoverNoti($event)" *ngIf=" notificationsQty> 0" id="notification-button" ion-button clear>
          <ion-icon name="notifications">
              <ion-badge id="notifications-badge" color="danger">{{ notificationsQty }}</ion-badge>
          </ion-icon>              
      </button>
        <button (click)="presentPopoverNoti($event)" *ngIf="notificationsQty === 0" ion-button icon-only>
              <ion-icon name="notifications"></ion-icon>             
      </button>
        <button ion-button icon-only (click)="presentPopover($event)">
            <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
</ion-navbar>