<ion-header>
    <ion-navbar>
        <ion-title>{{ 'trabajos.detailsTrabajos' | translate }}</ion-title>
        <ion-buttons end>
            <button *ngIf="isFavorite" style="color: blue !important;" ion-button icon-start clear end (click)="agregarFavorito()">
                        <ion-icon name="heart"></ion-icon>
                        {{ 'conferencia.favorito' | translate }}
                      </button>
            <button *ngIf="!isFavorite" ion-button icon-start clear end (click)="agregarFavorito()">
                            <ion-icon name="heart"></ion-icon>
                            {{ 'conferencia.favorito' | translate }}
                          </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content>

    <ion-card>

        <ion-item>
            <h1>{{ trabajo.titulo | uppercase }}</h1>
            <p>
                <span *ngFor="let autor of trabajo.autores, let i = index">
                                        <span *ngIf="i === 0">
                                                {{ autor.apellido }} {{ inicialesNombres(autor.nombres) }}<sup>{{ superindiceLugares(autor.lugaresTrabajo2) }}</sup><span *ngIf="trabajo.autores.length !== i+1">, </span>
                <span *ngIf="trabajo.autores.length === i+1">. </span>
                </span>
                <span *ngIf="i !== 0">
                                                {{ inicialesNombres(autor.nombres) }} {{ autor.apellido }}<sup>{{ superindiceLugares(autor.lugaresTrabajo2) }}</sup><span *ngIf="trabajo.autores.length !== i+1">, </span>
                <span *ngIf="trabajo.autores.length === i+1">. </span>
                </span>
                </span>
                <span *ngFor="let lugar of trabajo.lugaresTrabajo, let i = index"><span *ngIf="lugar.usado"><sup>{{ lugar.id }}</sup> {{ lugar.nombre }}</span><span *ngIf="i+1 !== trabajo.lugaresTrabajo.length">; </span><span *ngIf="i+1 === trabajo.lugaresTrabajo.length">. </span></span>
                <br><span>E-mail: {{ trabajo.contactoAutor }}</span>
            </p>
        </ion-item>

    </ion-card>

    <ion-card>
        <p [innerHTML]="trabajo.textoTrabajo"></p>
    </ion-card>

</ion-content>