<ion-header>
    <header-navbar></header-navbar>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content padding>
    <h2>{{ 'trabajos.categoryTitle' | translate }}</h2>
    <button ion-button block color="success" (click)="goSeleccionCategoria()">{{ 'trabajos.seleccionarCategoria' | translate }}</button>
    <div style="margin-top: 10px;margin-left: 10px;" *ngIf="categoriasNavegacion && categoriasNavegacion.length > 0">
        <button ion-button small clear style="padding:0px;" (click)="goSeleccionCategoria()">Home ></button>
        <button ion-button small clear style="padding:0px;" (click)="goSeleccionCategoria()" *ngFor="let categoria of categoriasNavegacion, let i = index">
                {{ getNombreByLang(categoria) }} <span *ngIf="i !== categoriasNavegacion.length-1">&nbsp;></span>
            </button>
    </div>
    <h2 style="margin-top: 15px !important;">{{ 'trabajos.trabajos' | translate }}</h2>
    <ion-list *ngIf="trabajos.length > 0">
        <ion-item *ngFor="let trabajo of trabajos" (click)="verTrabajo(trabajo)">
            <h2>{{ trabajo.titulo }}</h2>
            <p>
                <span *ngFor="let autor of trabajo.autores, let i = index">
                {{autor.apellido}} {{inicialesNombres(autor.nombres)}}
                <span *ngIf="i !== trabajo.autores.length -1">,</span>
                </span>
            </p>
            <button ion-button icon clear item-right>
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-item>
    </ion-list>
    <div style="text-align: center;" *ngIf="trabajos.length === 0">
        <ion-icon style="font-size: 50px;" name="ios-alert-outline"></ion-icon>
        <h3>{{ 'trabajos.selectCategoryTitle' | translate }}</h3>
    </div>

    <ion-fab right bottom>
        <button (click)="goFavorites()" ion-fab color="danger"><ion-icon name="heart"></ion-icon></button>
    </ion-fab>
</ion-content>