<ion-header>
    <header-navbar></header-navbar>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content padding>
    <h2>{{ 'trabajos.categoryTitle' | translate }}</h2>
    <p> <button ion-button clear (click)="goHome()" style="margin: 0px !important;padding:0px !important;">
            Home&nbsp;&nbsp;<ion-icon name="ios-arrow-forward"></ion-icon>&nbsp;&nbsp;
        </button>
        <button ion-button clear (click)="navegarAcategoria(categoria)" style="margin: 0px 5px 0px 0px !important;padding:0px !important;" *ngFor="let categoria of categoriasNavegacion, let i = index">
                {{categoria.nombre_es}}&nbsp;&nbsp;
                <ion-icon *ngIf="i !== categoriasNavegacion.length-1" name="ios-arrow-forward"></ion-icon>
        </button>
    </p>
    <ion-item *ngIf="categoriasSelect.length > 0">
        <ion-label>{{ 'trabajos.categoryTitle' | translate }}</ion-label>
        <ion-select [(ngModel)]="categoriaSelected" (ionChange)="categoriaChanged()">
            <ion-option *ngFor="let categoria of categoriasSelect" [value]="categoria">
                {{categoria.nombre_es}}
            </ion-option>
        </ion-select>
    </ion-item>
    <hr>
    <h2>{{ 'trabajos.trabajos' | translate }}</h2>
    <ion-list *ngIf="trabajos.length > 0">
        <ion-item *ngFor="let trabajo of trabajos" (click)="verTrabajo(trabajo)">
            <h2>{{ trabajo.titulo }}</h2>
            <p>
                <span *ngFor="let autor of trabajo.autores, let i = index">
                {{autor.apellido}} {{inicialesNombres(autor.nombres)}}
                <span *ngIf="i !== trabajo.autores.length -1">,</span>
                </span>
            </p>
            <button ion-button icon clear item-right>
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-item>
    </ion-list>
    <div style="text-align: center;" *ngIf="trabajos.length === 0">
        <ion-icon style="font-size: 50px;" name="ios-alert-outline"></ion-icon>
        <h3>{{ 'trabajos.selectCategoryTitle' | translate }}</h3>
    </div>

    <ion-fab right bottom>
        <button (click)="goFavorites()" ion-fab color="danger"><ion-icon name="heart"></ion-icon></button>
    </ion-fab>
</ion-content>