<ion-header>
    <ion-navbar>
        <ion-title>{{ 'favorites.favorites' | translate }}</ion-title>
    </ion-navbar>
    <div>
        <ion-segment [(ngModel)]="lista">
            <ion-segment-button value="0">
                Cronograma
            </ion-segment-button>
            <ion-segment-button value="1">
                Trabajos
            </ion-segment-button>
        </ion-segment>
    </div>
</ion-header>

<ion-content>

    <div [ngSwitch]="lista">
        <ion-list *ngSwitchCase="'0'">
            <ion-item-group *ngFor="let dia of conferencias">
                <ion-item-divider color="light">{{ dia.dia }}/{{ dia.mes }}/{{ dia.anio }}</ion-item-divider>
                <ion-item *ngFor="let charla of dia.conferencias" (click)="verCharla(charla.conferencia, charla.programa)">
                    <ion-label style="white-space: unset !important;">
                        <h2>{{ getTituloByLang(charla.conferencia) }}</h2>
                        <p>{{ charla.conferencia.horario }}: {{ charla.conferencia.lugar }} <span *ngIf="charla.conferencia.tipo !== 'mesa' && charla.conferencia.tipo !== 'varios'">| Tipo: {{ 'conferencia.'+charla.conferencia.tipo | translate }}</span>
                            <span *ngIf="charla.conferencia.tipo === 'mesa'">| Tipo: {{ 'conferencia.mesa' | translate }}</span>
                        </p>
                    </ion-label>
                    <button ion-button icon clear item-right>
                                            <ion-icon name="arrow-forward"></ion-icon>
                                        </button>
                </ion-item>
            </ion-item-group>
            <div style="text-align: center;padding: 10px; margin-top: 30px;" *ngIf="conferencias.length === 0">
                <ion-icon style="font-size: 80px;" name="ios-information-circle-outline"></ion-icon>
                <h1>{{ 'favorites.vacio' | translate }}</h1>
            </div>
        </ion-list>

        <ion-list *ngSwitchCase="'1'">
            <ion-list *ngIf="trabajos.length > 0">
                <ion-item *ngFor="let trabajo of trabajos" (click)="verTrabajo(trabajo.trabajo)">
                    <ion-label style="white-space: unset !important;">
                        <h2>{{ trabajo.trabajo.titulo }}</h2>
                        <p>
                            <span *ngFor="let autor of trabajo.trabajo.autores, let i = index">
                                            {{autor.apellido}} {{inicialesNombres(autor.nombres)}}
                                            <span *ngIf="i !== trabajo.trabajo.autores.length -1">,</span>
                            </span>
                        </p>
                    </ion-label>
                    <button ion-button icon clear item-right>
                                <ion-icon name="arrow-forward"></ion-icon>
                            </button>
                </ion-item>
            </ion-list>
        </ion-list>

    </div>


</ion-content>