<!--
  Generated template for the ConferenciaDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <div *ngIf="conferencia.tipo === 'simposio'">
            <ion-title>{{ 'conferencia.simposioTitle' | translate }}</ion-title>
        </div>
        <div *ngIf="conferencia.tipo === 'conferencia'">
            <ion-title>{{ 'conferencia.conferenciaTitle' | translate }}</ion-title>
        </div>
        <div *ngIf="conferencia.tipo === 'mesa'">
            <ion-title>{{ 'conferencia.mesaTitle' | translate }}</ion-title>
        </div>
        <div *ngIf="conferencia.tipo === 'taller'">
            <ion-title>{{ 'conferencia.tallerTitle' | translate }}</ion-title>
        </div>
        <div *ngIf="conferencia.tipo === 'curso'">
            <ion-title>{{ 'conferencia.cursoTitle' | translate }}</ion-title>
        </div>

    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>

        <ion-item>
            <ion-label style="white-space: unset !important;">
                <h1>{{ getTituloByLang(conferencia) }}</h1>
                <p>{{ fechaConferencia | date }} - Lugar: {{ conferencia.lugar }}</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <span item-start>Horario: {{ conferencia.horario }}</span>
            <button ion-button icon-start clear item-end color="{{getFavoriteColor()}}" (click)="agregarFavorito()">
            <ion-icon name="heart"></ion-icon>
            {{ 'conferencia.favorito' | translate }}
          </button>
        </ion-item>

    </ion-card>

    <ion-card>

        <ion-item *ngIf="conferencia?.coordinadora">
            <span item-start>Coordinador</span>
            <ion-label style="white-space: unset !important;">
                {{conferencia.coordinadora}}
            </ion-label>
        </ion-item>
        <ion-item *ngIf="conferencia?.docentes && conferencia?.docentes.length > 0">
            <span item-start>Docentes</span>
            <ion-label style="white-space: unset !important;">
                <ul>
                    <li *ngFor="let docente of conferencia?.docentes">{{docente}}</li>
                </ul>
            </ion-label>
        </ion-item>

    </ion-card>

    <ion-card *ngIf="conferencia?.autor">
        <ion-item *ngIf="conferencia?.autor">
            <span item-start>Autor</span>
            <ion-label style="white-space: unset !important;">
                {{conferencia.autor}}
            </ion-label>
        </ion-item>
        <ion-item *ngIf="conferencia?.autorDesc" style="white-space: unset !important;">
            <ion-label style="white-space: unset !important;">
                <h3>Descripcion</h3>
                <p [innerHTML]="conferencia.autorDesc"></p>
            </ion-label>
        </ion-item>
    </ion-card>

    <ion-card *ngIf="conferencia?.contenidos && conferencia?.contenidos.length > 0">
        <ion-item>
            <ion-label style="white-space: unset !important;">
                <h3>Contenidos</h3>
                <ul>
                    <li *ngFor="let contenido of conferencia?.contenidos">{{contenido}}</li>
                </ul>
            </ion-label>
        </ion-item>
    </ion-card>

    <ion-card *ngIf="conferencia.simposistas && conferencia.simposistas.length > 0">
        <ion-item>
            <ion-label style="white-space: unset !important;">
                <h3>Simposistas</h3>
                <ul>
                    <li *ngFor="let simposista of conferencia?.simposistas">
                        <h4>{{ simposista.titulo }}</h4>
                        <p>{{simposista.desc}}</p>
                    </li>
                </ul>
            </ion-label>
        </ion-item>
    </ion-card>

    <ion-card>

        <ion-item *ngIf="conferencia?.desc_es">
            <ion-label style="white-space: unset !important;">
                <p innerHtml="{{getDescByLang(conferencia)}}"></p>
            </ion-label>
        </ion-item>

    </ion-card>

</ion-content>